#ifndef PROJECT_NAME_CLASS_NAME_H
#define PROJECT_NAME_CLASS_NAME_H

namespace project_name_ {

class class_name_ {
public:
    class_name_() = default;
};

} /* project_name_ */

#endif /* PROJECT_NAME_CLASS_NAME_H */
